<div class="row counter">
    <div class="col-md-12">

         <div class="my-3 mx-5">    
            <h2>Parent Component: {{count}}</h2>
            <!-- <app-counter-output [counterOp]="count"></app-counter-output> -->
            <app-counter-output></app-counter-output>
        </div>
        <div class="my-3 mx-3">
            <app-counter-buttons></app-counter-buttons>
            <!-- <app-counter-buttons (increment)="onIncrement()" (decrement)="onDecrement()" (reset)="onReset()"></app-counter-buttons> -->
        </div>      
    </div>
</div>
