<div class="row counter">
    <div class="col-md-12">

         <div>    
            <!-- <h2>Parent Component: {{count}}</h2> -->
            <!-- <app-counter-output [counterOp]="count"></app-counter-output> -->
            <app-counter-output></app-counter-output>
        </div>
        <div>
            <app-counter-buttons></app-counter-buttons>
            <!-- <app-counter-buttons (increment)="onIncrement()" (decrement)="onDecrement()" (reset)="onReset()"></app-counter-buttons> -->
        </div>      
    </div>
</div>
